<div class="container">
<div class="row">


<%= form_tag books_path, class: "navbar-form navbar-right", :method => 'get' do %>
  
  <%= field_set_tag 'Book Name' do %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  <% end %>
  <%= field_set_tag 'Author' do %>
    <%= select_tag :author, options_from_collection_for_select(Book.group(:author), "author", "author", :selected => params[:author]), :include_blank => true, class: "form-control" %>
  <% end %>
  <%= field_set_tag 'Price Range' do %>
    <p>Min Price</p>
    <%= text_field_tag :min_price, params[:min_price], class: "form-control col-lg-1" %>
    <p>Max Price</p>
    <%= text_field_tag :max_price, params[:max_price], class: "form-control col-lg-1" %>
  <% end %>

  <hr>
    <%= submit_tag "Search", class: "form-control", :name => nil  %>

<% end %>

<%= render @books %>

</div>
</div>